{% load static %}
<!doctype html>
<html>
	<head>
		<title>  Login form </title>
		<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
	</head>
	<body>
	<div class="loginBox">
		
		<img src="{% static  'userlogin.png' %}" class="user">
		<h2>Log In Here</h2>
		<form action="upload" method="POST"> {% csrf_token %}
			<p>Username</p>
			<input type="text" name="userInfo" placeholder="Enter Username">
			<p>Password</p>
			<input type="password" name="pwInfo" placeholder="Enter Password">
			<input type="submit">
			 <p>Not Registered?<a href="signup">Sign Up</a></p>
			
		</form>
	</div>
	</body>
</html>