{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="loginBox" style="margin:auto">
            <img src="{% static 'user.png' %}" class="user">
        <form action="analysis" method="POST"> {% csrf_token %}
                <p>Username:</p>
                <input type="text" name = "username" placeholder="Enter Username">
                <p>Password</p>
                <input type="password" name = "password" placeholder="Enter Password">
                <p>{{found}}</p>
                <br>
                <br>
                <input type="submit" name = "" value="Login">
        </form>
    </div>
</body>
</html>